.add-quote-header {
  margin-bottom: 10px;
  align-content: center;
}

.add-quote-button-wrapper {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
  padding-bottom: 40px;
}

.add-quote-modal {
  position: relative;
}

.add-quote-paper {
  display: flex;
  flex-direction: column;
  border-radius: '10px';
  height: 500px;
  padding: 4px; 
}

.add-quote__input-wrapper {
  width: 400px;
  align-self: center;
}
  