header {
  padding: 20px 10px 20px 0;
  background: #ffffff;
  position: relative;
  height: 13vh;
}

header img {
  position: absolute;
  left: 10%;
  top: 50%;
  transform: translateY(-50%)
}

.title {
  font-size: 40px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Amatic SC', cursive;
}

.aurelius {
  box-shadow: 0 2px 2px #8a8ab4;
  border-radius: 50px;
  height: 85px;
  width: 85px;
  padding: 5px;
  position: relative;
  /* transition: all 75ms ease-in-out; */
  /* position: relative;
  left: 200px; */
}

/* #aurelius:hover {
  box-shadow: 0 8px 15px #444496;
  height: 76px;
  width: 76px;
} */

.main-quote {
  font-size: 18px;
  font-family: 'Cinzel', serif;
}

.main-quote-author {
  font-size: 18px;
  font-family: 'EB Garamond', serif;
  text-align: center;
}

.tooltip {
  font-size: 20px;
}