.login-header {
  margin-bottom: 10px;
}

.login-button-wrapper {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
  padding-bottom: 40px;
}

.login-paper {
  display: flex;
  flex-direction: column;
}

.login__input-wrapper {
  width: 300px;
  margin-bottom: 20px;
  margin-top: 10px;
  align-self: center;
}

#password-input {
  font-size: 24px;
}

#email-input {
  font-size: 24px;
}

.v-space {
  height: 20px;
}