.quote {
  font-family: 'EB Garamond', serif;
  padding: 10px 30px;
}

.content {
  --content-fnt-sz: 22px;
  font-size: var(--content-fnt-sz);
  text-align: left;
  transition: font-size .3s ease-in-out;
}

.content.selected-content {
  font-size:  calc(0.88*var(--content-fnt-sz));
}

.author {
  --author-fnt-sz: 18px;
  font-size: var(--author-fnt-sz);
  text-align: right;
  transition: font-size .3s ease-in-out;
}

.author.selected-content {
  font-size:  calc(0.88*var(--author-fnt-sz));
}

.source {
  --src-fnt-sz: 18px;
  font-size: var(--src-fnt-sz);
  font-style: italic;
  text-align: right;
  transition: font-size .3s ease-in-out;
}

.source.selected-content {
  font-size:  calc(0.88*var(--src-fnt-sz));
}
