.quote {
  font-family: 'EB Garamond', serif;
  padding: 10px 30px;
}

.content {
  font-size: 22px;
  text-align: left;
  transition: font-size .3s ease-in-out;
}

.content.selected-content {
  font-size:  calc(0.88*22px);
}


.author {
  font-size: 18px;
  text-align: right;
}

.source {
  font-size: 18px;
  font-style: italic;
  text-align: right;
}