.quote {
  padding: 10px 30px;
  margin-bottom: 15px;
  min-width: 300px;
  font-family: 'EB Garamond', serif;
}

.content {
  font-size: 22px;
}

.author {
  font-size: 18px;
  text-align: right;
}

.source {
  font-size: 18px;
  font-style: italic;
  text-align: right;
}