.signup-header {
  margin-bottom: 10px;
}

.signup-button-wrapper {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
  padding-bottom: 40px;
}

.signup-paper {
  display: flex;
  flex-direction: column;
}

.signup__input-wrapper {
  width: 300px;
  align-self: center;
}

#signup__password-input {
  font-size: 24px;
}

#signup__email-input {
  font-size: 24px;
}

#signup__username-input {
  font-size: 24px;
}

.v-space {
  height: 20px;
}