.signup-header {
  margin-bottom: 10px;
}

.signup-button-wrapper {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
  padding-bottom: 40px;
}

.signup-paper {
  display: flex;
  flex-direction: column;
}

.email-input-wrapper {
  width: 300px;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 10px;
}

.email-input #password-input {
  font-size: 24px;
}

.email-input {
  font-size: 24px;
}

.password-input-wrapper {
  width: 300px;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 10px;
}