@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Cinzel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Cinzel&family=EB+Garamond&display=swap');

#aurelius {
    box-shadow: 0 2px 2px #8a8ab4;
    border-radius: 50px;
    height: 85px;
    width: 85px;
    padding: 5px;
    position: relative;
    /* transition: all 75ms ease-in-out; */
    /* position: relative;
    left: 200px; */
}

/* #aurelius:hover {
    box-shadow: 0 8px 15px #444496;
    height: 76px;
    width: 76px;
} */

h1 {
    padding: 20px 12px;
    color: #18181d;
    font-family: 'EB Garamond', serif;
}

.header {
    padding: 20px 10px 20px 0;
    background: #ffffff;
    position: relative;
    height: 13vh;
}

.header img {
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%)
}

body {
    background: #f7f7fb;
    margin: 0;
}

#title {
    font-size: 40px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Amatic SC', cursive;
}

#about {
    position: relative;
    height: 70vh;
}

#about div {
    margin-bottom: 13px;
}

.nav {
    display: flex;
    justify-content: flex-start;
    padding: 20px 50px;
    margin: 0 auto;
    border-bottom: 1px solid #f7f7fb;
    transition: border-bottom 1s ease-in-out;
}

.nav:hover {
    border-bottom: 1px solid #e1e1ee;
}

.nav a {
    margin-left: 20px;
    text-decoration: none;
    padding: 0 12px;
    color: #18181d;
    border-radius: 8px;
    font-family: 'EB Garamond', serif;
}

.nav a:hover {
    background:#f2f2fc;
}

#quote-and-button {
    display: inline-flex;
    flex-direction: column;
    position: absolute;
    right: 1%;
    top: 25%;
    width: 400px;
}

.main-quote {
    font-size: 18px;
    font-family: 'Cinzel', serif;
}

.main-quote-author {
    font-size: 18px;
    font-family: 'EB Garamond', serif;
    text-align: center;
}

.tooltip {
    font-size: 20px;
}

button {
    width: fit-content;
    align-self: flex-end;
}

.pages {
    padding: 20px;
    margin: 0;
}

.quotes-flex {
    display: flex;
    position: relative;
    justify-content: center;
}

.quotes-container {
    max-width: 400px;
}

.quote {
    padding: 10px 30px;
    margin-bottom: 15px;
    font-family: 'EB Garamond', serif;
}

.loginForm {
    padding: 10px 30px;
    margin-bottom: 15px;
    font-family: 'EB Garamond', serif;
}

.quotes-buttons {
    font-size: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px 0 50px 50px;
}

.content {
    font-size: 22px;
}

.author {
    font-size: 18px;
    text-align: right;
}
/*/ to change */
#login-container {
    max-width: 400px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
    text-align: center;
    align-items: center;
}

#login-header {
    margin-bottom: 10px;
}

#login-button-wrapper {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 40px;
}

#login-paper {
    display: flex;
    flex-direction: column;
}

#email-input-wrapper {
    width: 300px;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 10px;
}

#email-input #password-input {
    font-size: 24px;
}

#email-input {
    font-size: 24px;
}

#password-input-wrapper {
    width: 300px;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 10px;
}

.quote {
    padding: 10px 30px;
    margin-bottom: 15px;
    font-family: 'EB Garamond', serif;
}

.footer {
    position: relative;
    color: #a1b6de;
    left: 50%;
    transform: translate(-50%, 0%);
    text-align: center;
    height: 80px;
    border-top: 1px solid #f7f7fb;
    transition: border-top 1s ease-in-out;
}

.footer:hover {
    border-top: 1px solid #e1e1ee;
}

#footer-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    border-radius: 8px;
    width: fit-content;
    padding: 10px 20px;
    background: #f2f2fc;
    justify-content: center;
}