@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Cinzel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Cinzel&family=EB+Garamond&display=swap');

h1 {
    padding: 20px 12px;
    color: #18181d;
    font-family: 'EB Garamond', serif;
}

body {
    background: #f7f7fb;
    margin: 0;
}

.pages {
    padding: 20px;
    margin: 0;
}

/* .loginForm {
    padding: 10px 30px;
    margin-bottom: 15px;
    font-family: 'EB Garamond', serif;
} */
