.quotes-flex {
  display: flex;
  position: relative;
  justify-content: center;
}

.quotes-container {
  min-width: 300px;
  max-width: 400px;
  text-align: center;
}

.quotes-buttons {
  font-size: 80px;
  padding: 50px 0 50px 50px;
}

.quotes-button-wrapper {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  box-shadow: 0 2px 2px #8a8ab4;
  border: 1px solid rgb(240, 240, 240);
}

.clickable-quote {
  border-width: 0;
  width: 100%;
  box-sizing: border-box;
  height: min-content;
  background: #f7f7fb;
  margin-bottom: 15px;
  transition: width .3s ease-in-out;
}

.clickable-quote.selected-quote {
  width: 90%;
}

.quotes-tooltip {
  font-size: 14px;
}