.quotes-flex {
  display: flex;
  position: relative;
  justify-content: center;
}

.quotes-container {
  min-width: 300px;
  max-width: 400px;
  text-align: center;
}

.clickable-quote {
  border-width: 0;
  width: 100%;
  box-sizing: border-box;
  height: min-content;
  background: #f7f7fb;
  margin-bottom: 15px;
  transition: width .3s ease-in-out;
}

.clickable-quote.selected-quote {
  width: 90%;
}
