.quotes-flex {
  display: flex;
  position: relative;
  justify-content: center;
}

.quotes-container {
  max-width: 400px;
}

.quotes-buttons {
  font-size: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px 0 50px 50px;
}

.quotes-tooltip {
  font-size: 14px;
}